<header>
    <a href="/"> </a><img src="./images/Logo_rev.png" alt="Vivid Travel Home"></a>
    <nav>
        <div id="hamburger_menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </nav>
</header>