  <%- include('partials/header', {title: "Vivid Travel | Your Itinenary"}); %>
  <body>
    <% include partials/nav %>
    <main>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </main>
  </body>
</html>
